## config file for qiime_workflow.sh script.
##
## Modify as necessary.
##
## Format is one item per line.  <settings> <tab> <path to file or definition>
##
## Paths to database files (e.g. greengenes) must be ABSOLUTE.  Reference
## files are fasta format.  Example of properly referenced greengenes
## database:

## 16S_reference	/home/andy/databases/gg_otus-13_8-release/rep_set/91_otus.fasta
## 16S_taxonomy	/home/andy/databases/gg_otus-13_8-release/taxonomy/91_otu_taxonomy.txt
## 16S_tree	/home/andy/databases/gg_otus-13_8-release/trees/91_otus.tree

##
## Valid settings (add as desired):
## 16S_reference
## 16S_taxonomy
## 16S_tree
## 16S_chimeras
## 16S_alignment_template
## 16S_alignment_lanemask
## ITS_reference
## ITS_taxonomy
## ITS_chimeras (not functional yet)
## Split_libraries_qvalue
## Threads_chimera_filter
## Threads_pick_otus
## Threads_assign_taxonomy
## Threads_align_seqs

## Add settings for workflow script below (without leading "#" characters).  Order is unimportant.

Split_libraries_qvalue	29
16S_reference	/home/andy/databases/gg_otus-13_8-release/rep_set/91_otus.fasta
16S_taxonomy	/home/andy/databases/gg_otus-13_8-release/taxonomy/91_otu_taxonomy.txt
16S_tree	/home/andy/databases/gg_otus-13_8-release/trees/91_otus.tree
ITS_reference	/home/andy/databases/UNITE/full_UNITE_final/sh_refs_qiime_ver6_dynamic_10.09.2014.fasta
ITS_taxonomy	/home/andy/databases/UNITE/full_UNITE_final/sh_taxonomy_qiime_ver6_dynamic_10.09.2014.clean.txt
16S_chimeras	/home/andy/databases/gold.fa
Threads_chimera_filter	4
Threads_pick_otus	4
Threads_assign_taxonomy	4
Threads_align_seqs	2
16S_alignment_template	/home/andy/databases/core_set_aligned.fasta.imputed
16S_alignment_lanemask /home/andy/databases/lanemask_in_1s_and_0s


